/*
  General Pagination
*/

* {
    margin:  0px;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background-color: #1d1f21;
    padding: 0;
    padding-top: 50px;

    font-family: 'Open Sans Condensed', sans-serif;

        position: relative;

  min-height: 100vh;
}


/*
  ---------------------------------------------------
  Footer
  ---------------------------------------------------
*/
#scrollmore {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 500px;
  font-size: 60px;
  bottom: 0;
  z-index: 400;
  height: 500px;

  color: white;

  background: rgba(0, 0, 0, 0.5); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0),
                                rgba(0, 0, 0, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0), 
                              rgba(0, 0, 0, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), 
                              rgba(0, 0, 0, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0), 
                              rgba(0, 0, 0, 1)); /* Standard syntax */
}

#load_more {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.space {
  height: 400px;
}

.display {

}

#load_more a {
  color: white;
  text-decoration: none;
}

/*
  ---------------------------------------------------
  Header/Navbar
  ---------------------------------------------------
*/

.nav {
    background-color: #1d1f21;
    position: absolute;
    z-index: 200;
    top: 0px;
    min-height: 50px;
    left: 0;
    right: 0;
    color: #686f73;
    line-height: 50px;
    font-size: 30px;
    padding-left: 25px;
    opacity: 0.1;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s; /* Safari */
    font-size: 25px;
}

.nav p {
  display: inline-block;
}

.search {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #414249;
}

.nav:hover, .nav:active, .nav-active {
    opacity: 1;
}

select, input{
    position: relative;

    top: 0;
    bottom: 0;
    display: inline-block;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #232426;
    border: none;
    color: #686f73;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

input.text {
    /*height: 100%;*/
        line-height: 50px !important;
    padding-left: 5px;
    min-width: 100px;
    max-width: 20%;
}

form {
  display: inline-block;
  width: 80%;
}

/*
  ---------------------------------------------------
  Image display
  ---------------------------------------------------
*/


 .display {
    overflow: hidden;
    position: relative;
    display: block;
    line-height: 0px;
}


 .display div {

    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s; /* Safari */

    margin: 0px;
    padding: 20px;
}

 .display:hover div, .display:active div {
     opacity: 1;
}

 .display a {
    color: white;
    line-height: 1em;
    overflow-wrap: break-word;
}

 img
{
    -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

 .display:hover img
{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.album-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 16px;
  color: white;
}

/*
  ---------------------------------------------------
  Image columns
  ---------------------------------------------------
*/

table {
  width: 100%;
  border: none;
  border-collapse:collapse
}

table * {
  padding: 0;
  margin: 0;
}

tbody {
  width: 100%;
}

tr {
  width: 100%;
  border: none;
}

td {
  vertical-align: top;
  position: relative;
}

